<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Ana Sayfa</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Yazarlar</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Bize Ulaşın</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/articles.html">Makaleler</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/books.html">eKitaplık</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.harunyahya.web.tr">HY</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.youtube.com/channel/UCghWuRqdO-HXsxRxBn4dHHQ/videos?view=0&sort=p&flow=grid">Video</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://adnanoktardiyorki.net/">adnanoktardiyorki.net <i class="fa fa-coffee text-danger"></i></a>
</li>
