<!-- Twitter Cards-->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@zekidem20379657" />
<meta name="twitter:creator" content="@zekidem20379657">
<meta name="twitter:card" content="summary">
<!-- Twitter Cards-->
<!--<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}" />{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}" />{% endif %}
{% if page.image.feature %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.url }}{{ post.image.feature }}" />
{% else %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{% if post.image.thumb %}{{ site.url }}{{ post.image.thumb }}{% else %}{{ site.url }}{{ site.logo }}{% endif %}" />
{% endif %} -->
<!-- Twitter cards 
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ post.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
{% endif %}
end of Twitter cards -->



<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}" />{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
