<!---
layout: compress
--->
<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- <title>{{page.title}} | {{site.name}}</title>-->
   
   <!-- description-->
   <meta charset="utf-8" itemprop="description" name="descriptions" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
   
    <meta name="msvalidate.01" content="D462E9F8C0920AC921D93C3895430C0D" />
    <meta name="p:domain_verify" content="4f57aeb8b24dd8559da6c39c9c17873b"/>
    <!-- {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' }}" />
    {% endif %}-->
    {% seo %}

    <meta name="robots" content="index,follow">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
    
    <!-- Embedded Fonts-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font.css">

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">

    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    {% include tracking-header.html %}
    
    {% include open-graph.html %}
<!-- antializing scroll for tears -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

    <script src="{{site.baseurl}}/assets/js/theme.js"></script>
    

</head>

<body class="{% if page.url == "/" %} homefirstpage {% endif %}">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/apple-touch-icon-precomposed.png" >
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/apple-touch-icon-72x72-precomposed.png" >
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/apple-touch-icon-114x114-precomposed.png" >
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/apple-touch-icon-144x144-precomposed.png" >

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/images/apple-icon-57x57.png" >
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/images/apple-icon-60x60.png" >
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/apple-icon-72x72.png" >
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/images/apple-icon-76x76.png" >
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/apple-icon-114x114.png" >
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/images/apple-icon-120x120.png" >
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/apple-icon-144x144.png" >
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/images/apple-icon-152x152.png" >
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-icon-180x180.png" >
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/images/android-icon-192x192.png" >
    <!-- Navbar -->
    <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><strong>{{site.name}}</strong></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
               {% include menu-header.html %}
            </ul>
            <div class="navbar-nav ml-auto d-flex align-items-center">
                {% include search-lunr.html %}
            </div>
        </div>
    </div>
    </nav>

    <!-- Search Results -->
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>
    <!-- Content -->
    <main class="site-content">
        {{ content }}
    </main>
    <script src="{{ site.baseurl }}/assets/js/jscrolling.js" async></script>
    <script defer src="//code.responsivevoice.org/responsivevoice.js?key=usuE8V10"></script>
    <!-- Scripts: popper, bootstrap, theme, lunr
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{site.baseurl}}/assets/js/theme.js"></script>



    <!-- Footer -->
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="container">
        <div class="row align-items-center justify-content-between">
            <div>
                <span class="navbar-brand mr-2 mb-0"><strong>Kuran ve Bilim</strong></span>
                <span>© <script>document.write(new Date().getFullYear())</script>.</span>

                <!--  Github Repo Star Btn-->
                <a class="text-dark ml-1" target="_blank" href="https://github.com/vdemir"><i class="fab fa-github"></i> Fork on Github</a>

            </div>
            <div>
                Made with <a target="_blank" class="text-dark font-weight-bold" href="https://jekyllrb.com/"> Jekyll </a> by <a class="text-dark" target="_blank" href="http://vdemir.github.io/humans.txt">Kuran ve Bilim</a>.
            </div>
        </div>
        </div>
    </footer>

    {% include tracking-footer.html %}

</body>

</html>
