---
layout: default
---

<!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



{% assign author = site.authors[page.author] %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
				<div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
                        <span class="catlist">
						{% for category in page.categories %}
                          <a class="sscroll text-danger" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
					<div class="d-flex align-items-center">
                        {% if author.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="70"/>
                        {% endif %}
						<small class="ml-3"> {{ author.name }} <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-1">Takip Et</a></span>
                            <span class="text-muted d-block mt-1">
                            {% assign months = "Ocak|Şubat|Mart|Nisan|Mayıs|Haziran|Temmuz|Ağustos|Eylül|Ekim|Kasım|Aralık" | split: "|" %}
                            {% assign m = page.date | date: "%-m" | minus: 1 %}
                            {% assign day = page.date | date: "%d" %}
                            {% assign month = months[m] %}
                            {% assign year = page.date | date: "%Y" %}
                            {{ month }} {{ day }}, {{ year }} · {% include meta-read-time.html %}</span>
						</small>
					</div>
				</div>
                {% if page.image %}
				<div class="col-md-6 pr-0 align-self-center">
					<img class="rounded" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
				</div>
                {% endif %}
			</div>
		</div>
	</div>
</div>





<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        
        
        <!-- Share -->
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top sticky-top-offset text-center">
				<div class="text-muted">
					Paylaş
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_email"></a>
                    <a class="a2a_button_pinterest"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_google_gmail"></a>
                    <a class="a2a_button_blogger"></a>
                    </div>
                    <script>
                    var a2a_config = a2a_config || {};
                    a2a_config.locale = "tr";
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-8">
            
            <!-- Article -->
			<article class="article-post">
			{% if page.lang == 'tr' %}
			<button id="btnListenBlg" class="listen-button" type="button" value="Play" title="Konuşmayı Başlat/Durdur öğesine dokunun"><i class="fa fa-volume up">&nbsp;</i><span>Makaleyi Sesli Dinle</span></button>
            <p id="artShortDesc" class="caps" itemprop="description"></p>
            <div id="artDesc" itemprop="articleBody" class="article-body">
            {% elsif page.lang == 'en' %}
            <button id="btnListenBlg" class="listen-button" type="button" value="Play" title="Tap to Start/Stop Speech"><i class="fa fa-volume-up">&nbsp;</i><span>Listen to this</span></button> 
            <p id="artShortDesc" class="caps" itemprop="description"></p>
            <div id="artDesc" itemprop="articleBody" class="article-body">
            {% endif %}
			{{ content }}   
			<div class="container">
            <a href="https://twitter.com/zekidem20379657" class="twitter-follow-button" data-show-count="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>            
			</article> 
			<!-- Tags -->
			<div class="mb-4">
				<span class="taglist">
				{% for tag in page.tags %}
				  <a class="sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}"><i class="fas fa-tag"></i> {{ tag | downcase }}</a>
				{% endfor %}
				</span>
			</div>
<!-- back to up -->
<div class="container">
<div class="row">
<div class="col-md-4">

</div>
<div class="col-md-4">
<ul class="">
<a href="#" class="totop"><i class="fa fa-angle-up fa-1x"></i></a>
</ul>
</div>
<div class="col-md-4">
</div> 
            <!-- Mailchimp Subscribe Form -->
            {% if site.mailchimp-list %}
			<div class="border p-5 bg-lightblue">
				<div class="row justify-content-between">
					<div class="col-md-6 mb-2 mb-md-0">
						<h5 class="font-weight-bold">Bize Katılın</h5>
						 Gelen kutunuzda en son haberleri alınız. Biz asla spam göndermeyiz!
					</div>
					<div class="col-md-6">
						<div class="row">
                            <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate w-100" target="_blank" novalidate>
                            <div class="mc-field-group">
							
								<input type="email" placeholder="E-posta adresini yazınız" name="EMAIL" class="required email form-control w-100" id="mce-EMAIL" autocomplete="on" required>
							
							
								<button type="submit" value="Subscribe" name="subscribe" class="heart btn btn-success btn-block w-100 mt-2">Abone olun</button>
							
                            </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
            {% endif %}
            
            
             <!-- Author Box -->
                {% if page.author %}				
				<div class="row mt-5">
					<div class="col-md-2 align-self-center">
                         {% if author.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="90"/>
                        {% endif %} 
					</div>
					<div class="col-md-10">		
                        <h5 class="font-weight-bold">{{ author.name }} tarafından yazılıyor {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Takip Edin</a></span>{% endif %}</h5>
						{{ author.bio }}					
					</div>
				</div>				
                {% endif %}
            
            <!-- Comments -->
            {% if page.comments != false %}
                {% include comments.html %}
            {% endif %}

		</div>
        
        
	</div>
</div>


<!-- Aletbar Prev/Next -->
<div class="alertbar">
    <div class="container">
        <div class="row prevnextlinks small font-weight-bold">
          {% if page.previous.url %}
            <div class="col-md-6 rightborder pl-0">
                <a class="text-dark" href="{{site.baseurl}}{{page.previous.url}}">{% if page.previous.image %} <img height="30px" class="mr-1" src="{{site.baseurl}}/{{page.previous.image}}"> {% endif %} {{page.previous.title}}</a>
            </div>
          {% endif %}
          {% if page.next.url %}
            <div class="col-md-6 text-right pr-0">
                <a class="text-dark" href="{{ site.baseurl }}{{ page.next.url }}"> {{page.next.title}} {% if page.next.image %} <img height="30px" class="ml-1" src="{{site.baseurl}}/{{ page.next.image }}"> {% endif %}</a>
            </div>
          {% endif %}
        </div>
    </div>
</div>

<script src='//vws.responsivevoice.com/v/e?key=PL3QYYuV'></script>
{% if page.lang == 'tr' %}
<script defer src="{{site.baseurl}}/assets/js/news_tr.js"></script>
{% elsif page.lang == 'en' %}
<script defer src="{{site.baseurl}}/assets/js/news_en.js"></script>
{% endif %}

<script type="text/javascript" left="80%" bottom="20%" text=" TOP" src="https://www.beautifyconverter.com/js/x-return-top.min.js"></script>
